<html>
<head>
    <link rel="stylesheet" href="{{ asset('/bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/build/app.css') }}">

    <script type="text/javascript" src="{{ asset('/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('/build/app.js') }}"></script>

    <script>
        $(function () {
            var options = {
                format: 'YYYY-MM-DDTHH:mm:ss+01:00',
                sideBySide: true,
            };
            $('#query_form_dateFrom').datetimepicker(options);
            $('#query_form_dateTo').datetimepicker(options);
            $('#query_form_availableFrom').datetimepicker(options);
            $('#query_form_availableTo').datetimepicker(options);
        });
    </script>
</head>
<title>Test Consumer</title>
<body>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>